Lab05/ex4/XSD.xml

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="employee">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="prefix" type="xs:string"/>
      <xs:element name="lastname" type="xs:string"/>
      <xs:element name="firstname" type="xs:string"/>
      <xs:element name="title" type="xs:string"/>
      <xs:element name="address" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>
